[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
"boto3" = "== 1.7.*"

[dev-packages]
pylint = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
