[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
"boto3" = "== 1.9.133"

[dev-packages]
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
pylint = "*"
rope = "*"
flake8 = "*"
sphinx = "*"
tox = "*"
ipython = "*"
